{% extends "base-home.html" %}
{% load widget_tweaks %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}

<div class="container mx-auto px-4 h-full">
    <div class="flex content-center items-center justify-center h-full">
      <div class="w-full lg:w-6/12 px-4">
        <div
          class="relative flex flex-col min-w-0 break-words w-full mb-6 shadow-lg rounded-lg bg-blueGray-200 border-0"
        >

    <p class="mx-auto my-3 w-3/4 text-center my-3">{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>

    <form class="mx-auto" method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
        {% csrf_token %}
        {% for field in form %}
        <div class="relative w-full mb-3">
            <label class="block uppercase text-blueGray-600 text-xs font-bold mb-2">
              {{field.label_tag}}
            </label>
            
            {{field|add_class:"border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"}}
            
            {% for error in field.errors %}
              <p class="my-2 mx-auto text-xs text-red-600">{{ error }}</p>
            {% endfor %}
          </div>
          
          {% endfor %}
        <input class="my-3 bg-blueGray-800 text-red-600 active:bg-blueGray-600 text-sm font-bold uppercase px-6 py-3 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 w-full ease-linear transition-all duration-150"  type="submit" value="{% trans 'Reset My Password' %}" />
    </form>

        </div>
      </div>
    </div>
</div>
{% endblock %}
