<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bem-vindo ao Nosso Serviço</title>
</head>
<body>
    <p>Olá {{ nome }},</p>
    <p>Bem-vindo ao nosso serviço! Modernize o seu negócio!</p>
    <p>Para criar a sua conta, clique no link abaixo:</p>
    <a href="http://127.0.0.1:8000/register/">Criar Conta</a>
    <p>Obrigado!</p>
    
    <!-- Inclua o caminho absoluto ou um link externo para a sua logomarca -->
    <img src="{{ url_for('static', filename='img src="media/media/merkadu.png') }}" alt="Logomarca">
</body>
</html>
