# Created by https://www.gitignore.io

### Linux ###
*~

# KDE directory preferences
.directory

# Linux trash folder which might appear on any partition or disk
.Trash-*

/venv

### Windows ###
# Windows image file caches
*.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# Apple finder info files
.DS_Store


### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
.env-dev/
.env*
build/
develop-eggs/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
django_cache/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/


### VirtualEnv ###
# Virtualenv
# http://iamzed.com/2009/05/07/a-primer-on-virtualenv/
.Python
[Bb]in
[Ii]nclude
[Ll]ib
[Ll]ib64
[Ss]cripts
[Ss]rc
pyvenv.cfg
pip-selfcheck.json


### Django ###
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
media/


### Sass ###
.sass-cache
*.css.map


### AutoEnv ###
.env
.venv


### SQLite ###
db.sqlite3


### PrePros ###
static/prepros.cfg


### Whoosh ###
whoosh_index
.python-version
envdir

### Unknow files ###
dump.rdb
node_modules/

### Front end files
static/css/*.css
static/js/*.js
static/maps/

# staticfiles
staticfiles

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

#IDE
.vscode
.idea

#ASDF
.tool-versions

#NVM
.nvmrc

docker/

#gcp credentials
gcs-staticfiles-sa
.env-dev
.env/key.json

#celery.beat
celerybeat-schedule
celerybeat.pid

# min.js of gulp
static/js/main.min.js
static/js/start.min.js
static/js/render.min.js
static/js/catalogue.min.js
static/js/category/create_edit.min.js
static/js/dashboard/dashboard_consumer_detail.min.js
static/js/dashboard/dashboard_distributor_detail.min.js
static/js/dashboard/dashboard_distributors_manager.min.js
static/js/dashboard/dashboard_manage_skus.min.js
static/js/dashboard/dashboard_product_detail.min.js
static/js/dashboard/order_status/dashboard_order_status.min.js
static/js/domains/domain_content_management_form.min.js
static/js/domains/domain_form.min.js
static/js/domains/domain_marketing_asset_form.min.js
static/js/domains/marketing_campaign_form.min.js
static/js/flyers/flyer_upsert.min.js
static/js/logistics/logistic_list.min.js
static/js/logistics/logistic_edit.min.js
static/js/logistics/logistic_natural_person_edit.min.js
static/js/orders/my_orders.min.js
static/js/orders/order_transition.min.js
static/js/orders/order_transition/changed.min.js
static/js/payments/checkout.min.js
static/js/payments/finish_checkout.min.js
static/js/products/product_quotation_results.min.js
static/js/products/products_list.min.js
static/js/products/quotation_progress.min.js
static/js/shoppinglists/my_list.min.js
static/js/sku/sku_edit_list.min.js
static/js/sku/sku_product_detail.min.js
static/js/buyer.min.js
static/js/suppliers.min.js
static/js/uploadspreadsheet/spreadsheet_list.min.js
static/js/users/signup.min.js
static/js/users/user_login.min.js
static/js/users/user_natural_person_signup.min.js
static/js/users/user_password_reset_confirm.min.js
static/js/users/user_profile_edit.min.js

# Arquivos de migração do Django
# **/migrations/
# **/migrations/*.py
# **/migrations/*.pyc
