{% extends "base-home.html" %}

{% load i18n %}

{% block head_title %}{% trans "Verify Your E-mail Address" %}{% endblock %}

{% block content %}

<div class="container mx-auto px-4 h-full">
    <div class="flex content-center items-center justify-center h-full">
      <div class="w-full lg:w-6/12 px-4">
        <div
          class="relative flex flex-col min-w-0 break-words w-full mb-6 shadow-lg rounded-lg bg-blueGray-200 border-0"
        >
        <h1 class="mx-auto w-3/4 text-center">{% trans "Verify Your E-mail Address" %}</h1>

        {% url 'account_email' as email_url %}

        <p class="mx-auto w-3/4 text-center">{% blocktrans %}This part of the site requires us to verify that
        you are who you claim to be. For this purpose, we require that you
        verify ownership of your e-mail address. {% endblocktrans %}</p>

        <p class="mx-auto w-3/4 text-center">{% blocktrans %}We have sent an e-mail to you for
        verification. Please click on the link inside this e-mail. Please
        contact us if you do not receive it within a few minutes.{% endblocktrans %}</p>

        <p>{% blocktrans %}<strong>Note:</strong> you can still <a href="{{ email_url }}">change your e-mail address</a>.{% endblocktrans %}</p>

        </div>
      </div>
    </div>
</div>

{% endblock %}
